
#文件服务存储位置主目录
FS_HOST_NAME=fileserver
FS_ATTACHMENTS_HOME=/home/jlsoft/web/nginx/html/fs/18081/attachments
FS_TEMPORARYFILES_HOME=/home/jlsoft/web/nginx/html/fs/18081/temporaryfiles
FS_REPORTPAGES_HOME=/home/jlsoft/web/nginx/html/fs/18081/reportpages
FS_RESOURCES_HOME=/home/jlsoft/web/nginx/html/fs/18081/resources



#Web输入流
JSON_STREAM_ENABLED=true
#记录错误异常
LOG_RECORDER_ENABLED=true


##############################  后台使用  ##############################
mapper.path=
##连接超时
CON_TIMOUT=300000

##读超时
READ_TIMOUT=300000

##分页行数
PAGESIZE=15

##最大页数
MAXPAGE=0

##登录调用(SCM|WORKFLOW)
loginSQL=WORKFLOW

##登录,修改密码验证黑名单(true|false)
CHECK.MMHMD=

##后台调用FORM地址
FORM_URL=http://127.0.0.1:30800/form5

##后台调用文件服务器地址
FILE_URL=http://59.172.6.149:25103/V9SCM

##后台调用SCM地址 
SCM_URL=http://59.172.6.149:25103/V9SCM
##SCM_URL=http://192.13.4.122/ECSV9
##SCM_URL=http://59.172.6.149:25103/V9SCM
##SCM_URL=http://192.13.4.52:8003/JLESServerV9

##后台调用FORM地址
ECS_URL=http://59.172.6.149:25100/JLESServerGSPV9

# 后台分页服务地址
REMOTE_ADD_PHP=http://59.172.6.149:25103/queryfs/upload_stream.php
REMOTE_READ_PHP=http://211.161.120.133:25103/queryfs/upload/
PAGING_URL=http://59.172.6.149:25103/queryfs/download_stream.php

# 同一账号允许重复登录(true|false)true允许；false不允许
AUTHORIZATION_ENABLED=true
AUTHORIZATION_TEST=true


##上传文件外网地址
DOWNLOAD_IPOLD=10.2.0.5
##上传文件替换DOWNLOAD_IPOLD的内网地址
DOWNLOAD_IPNEW=10.2.0.5:8012



##################### 新增加 #####################
# PCRM流程控制开关，拦截器JlInterceptor.java增加checkWorkflow处理
PCRM_USEWORKFLOW=true
# PCRM服务URL
PCRM_URL=http://127.0.0.1:8088/pcrm_v9/
# 医药行业 GSP 管控标记
GSPCONTROL=false
# ONS消息订阅开关
ONS_DY=false
# 服务器端 XSD Schema 数据校验
VALIDATOR_ENABLED=false
# 错误日志记录
ERROR_RECORDER_ENABLED=false

# MongoDB 数据库连接池配置信息 (com.jlsoft.framework.MongoPool 用于取代 MongodbHandler)

###公司库###
#MONGOPOOL_HOST=59.172.6.149
#MONGOPOOL_PORT=15117
## MONGOPOOL_HOST=10.2.0.1,10.2.0.2,10.2.0.3
## MONGOPOOL_PORT=27017,27018,27017
#MONGOPOOL_RETRY=true
#MONGOPOOL_POOLSIZE=100
#MONGOPOOL_DBNAME=web_scm
#MONGOPOOL_USERNAME=web_scm
#MONGOPOOL_PASSWORD=Ep1v2AWX34rVW100

###格力库###
MONGOPOOL_HOST=123.206.201.155
MONGOPOOL_PORT=27017
# MONGOPOOL_HOST=10.2.0.1,10.2.0.2,10.2.0.3
# MONGOPOOL_PORT=27017,27018,27017
MONGOPOOL_RETRY=true
MONGOPOOL_POOLSIZE=100
MONGOPOOL_DBNAME=scm_dev
MONGOPOOL_USERNAME=scm_dev
MONGOPOOL_PASSWORD=byT3FPAXJrA47685

# 用户鉴权与 session 管理功能配置
AUTHORIZATION_ENABLED=true
AUTHORIZATION_TEST=true
AUTHORIZATION_DB_HOST=127.0.0.1
AUTHORIZATION_DB_PORT=27017
AUTHORIZATION_DB_RETRY=true
AUTHORIZATION_DB_POOLSIZE=100
AUTHORIZATION_DB_NAME=auth
AUTHORIZATION_DB_USERNAME=auth
AUTHORIZATION_DB_PASSWORD=q3fIs859Ymd3dnFN
AUTHORIZATION_SESSION_PREX=

# 系统日志
LOGGER_ENABLED=false
LOGGER_DB_HOST=127.0.0.1
LOGGER_DB_PORT=27017
LOGGER_DB_RETRY=true
LOGGER_DB_POOLSIZE=100
LOGGER_DB_DBNAME=log
LOGGER_DB_USERNAME=log
LOGGER_DB_PASSWORD=q3fIs859Ymd3dnFN
LOGGER_RECORD_ERROR=true
LOGGER_RECORD_REQUEST=true

# 主数据缓存
MDM_ENABLED=false
MDM_DB_HOST=59.172.6.149
MDM_DB_PORT=15117
MDM_DB_RETRY=true
MDM_DB_POOLSIZE=100
MDM_DB_DBNAME=web_scm
MDM_DB_USERNAME=web_scm
MDM_DB_PASSWORD=Ep1v2AWX34rVW100

# 启用 V9 扩展权限配置 (此功能如果启用，会使用 MongoDB 主数据缓存)
EXTENDED_ACCESS_ENABLED=true
# 扩展访问权限包括的类型有V5、V7、V9，如果配置其他值则视同V9
EXTENDED_ACCESS_TYPE=V9

###########查询数据源配置#############
MYBATIS_CONFIG_DIR=form/scm


##############################  后台使用  ##############################


###############  公司mongo配置  ###############
MONGO_IP=59.172.6.149
MONGO_PORT=15117
MONGO_DB=web_scm
MONGO_NAME=web_scm
MONGO_PASS=Ep1v2AWX34rVW100
###############  mongo配置  ###############


###############  格力mongo配置  ###############
#MONGO_IP=123.206.201.155
#MONGO_PORT=27017
#MONGO_DB=scm_dev
#MONGO_NAME=scm_dev
#MONGO_PASS=byT3FPAXJrA47685
###############  mongo配置  ###############
ROOT = form5.root


