
document/My Pictures/desktop.ini
document/RTXC File List/D_Program Files (x86)_rtx/Accounts/王定福/TBarRecentContact.cfg
document/RTXC File List/D_Program Files (x86)_rtx/Accounts/王定福/TBarRecentSession.cfg
document/Tencent Files/1648529853/FileRecv/gcgl/gcdl/interfaceQuery/SelectGCDLD.java
