# 连接超时
CON_TIMOUT=300000

# 读超时
READ_TIMOUT=300000

# 分页行数，0表示Integer.MAX_VALUE
PAGESIZE=20

# 最大分页页数，0表示Integer.MAX_VALUE
MAXPAGE=0

# PCRM流程控制开关，拦截器JlInterceptor.java增加checkWorkflow处理
PCRM_USEWORKFLOW=true

# 登录调用(SCM|WORKFLOW)
loginSQL=WORKFLOW

# 登录,修改密码验证黑名单(true|false)
CHECK.MMHMD=

# 后台调用FORM地址
FORM_URL=http://127.0.0.1:8788/scmform_git

# 后台调用文件服务器地址
FILE_URL=http://123.206.201.155:8086/fs

# 后台调用SCM地址 
#SCM_URL=http://123.206.201.155:8086/SCM
SCM_URL=http://211.161.120.132:8087/DEV_GLSCM

# 后台调用ECS地址
ECS_URL=http://123.206.201.155:8086/ECS

# 后台分页服务地址
REMOTE_ADD_PHP=http://123.206.201.155:8086/queryfs/upload_stream.php
REMOTE_READ_PHP=http://123.206.201.155:8086/queryfs/upload/
PAGING_URL=http://123.206.201.155:8086/queryfs/download_stream.php

# 文件服务存储位置主目录
FS_HOST_NAME=scmform-fs
FS_ATTACHMENTS_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/attachments
FS_TEMPORARYFILES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/temporaryfiles
FS_REPORTPAGES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/reportpages
FS_RESOURCES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/resources

# MongoDB 数据库配置信息 (com.jlsoft.forms.MongodbHandler 只为兼容保留)
MONGO_IP=211.161.120.132
MONGO_PORT=27017
MONGO_DB=DEV_GLSCM
MONGO_NAME=DEV_GLSCM
MONGO_PASS=uAGSOYjPFylX

# MongoDB 数据库连接池配置信息 (com.jlsoft.framework.MongoPool 用于取代 MongodbHandler)
MONGOPOOL_HOST=211.161.120.132
MONGOPOOL_PORT=27017
# MONGOPOOL_HOST=10.2.0.1,10.2.0.2,10.2.0.3
# MONGOPOOL_PORT=27017,27018,27017
MONGOPOOL_RETRY=true
MONGOPOOL_POOLSIZE=100
MONGOPOOL_DBNAME=DEV_GLSCM
MONGOPOOL_USERNAME=DEV_GLSCM
MONGOPOOL_PASSWORD=uAGSOYjPFylX

# 主数据缓存（内网）
MDM_ENABLED=false
MDM_DB_HOST=211.161.120.132
MDM_DB_PORT=27017
MDM_DB_RETRY=true
MDM_DB_POOLSIZE=100
MDM_DB_DBNAME=DEV_GLSCM
MDM_DB_USERNAME=DEV_GLSCM
MDM_DB_PASSWORD=uAGSOYjPFylX

# 启用 V9 扩展权限配置 (此功能如果启用，会使用 MongoDB 主数据缓存)
EXTENDED_ACCESS_ENABLED=true

# 用户鉴权与 session 管理功能配置（内网）
AUTHORIZATION_ENABLED=true
AUTHORIZATION_DB_HOST=211.161.120.132
AUTHORIZATION_DB_PORT=27017
AUTHORIZATION_DB_RETRY=true
AUTHORIZATION_DB_POOLSIZE=100
AUTHORIZATION_DB_DBNAME=DEV_GLSCM
AUTHORIZATION_DB_USERNAME=DEV_GLSCM
AUTHORIZATION_DB_PASSWORD=uAGSOYjPFylX
AUTHORIZATION_SESSION_PREX=
AUTHORIZATION_TEST=true

# MyBatis数据源项目个性化配置文件路径(一般用于自定义查询)
MYBATIS_CONFIG_DIR=form/scm

# 设置是否压缩分页查询返回的第一页数据（此开发只针对 XML 封装的结果数据）
# 值为零则不压缩；配置一个大于零的整数（字节数）则表示超过此数据量则压缩
GZIP_MIN_SIZE=0
