# 连接超时
CON_TIMOUT=300000

# 读超时
READ_TIMOUT=300000

# 分页行数，0表示Integer.MAX_VALUE
PAGESIZE=90

# 最大分页页数，0表示Integer.MAX_VALUE
MAXPAGE=10000

# PCRM流程控制开关，拦截器JlInterceptor.java增加checkWorkflow处理
PCRM_USEWORKFLOW=true

##登录调用(SCM|WORKFLOW
loginSQL=WORKFLOW
##登录,修改密码验证黑名单(true|false)
CHECK.MMHMD=false

# 同一账号允许重复登录(true|false)true允许；false不允许
AUTHORIZATION_TEST=true

# 登录,修改密码验证黑名单(true|false)
CHECK.MMHMD=

# 后台调用FORM地址
FORM_URL=http://127.0.0.1:30800/scmform

# 后台调用文件服务器地址
FILE_URL=http://123.206.201.155:8082/fs

# 后台调用SCM地址
SCM_URL=http://123.206.201.155:8086/SCM

# 后台调用ECS地址
ECS_URL=http://123.206.201.155:8081/ECS

# 后台分页服务地址
REMOTE_ADD_PHP=http://123.206.201.155:8083/queryfs/upload_stream.php
REMOTE_READ_PHP=http://123.206.201.155:8083/queryfs/upload/
PAGING_URL=http://123.206.201.155:8083/queryfs/download_stream.php

# 文件服务存储位置主目录
FS_HOST_NAME=scmform-fs
FS_ATTACHMENTS_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/attachments
FS_TEMPORARYFILES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/temporaryfiles
FS_REPORTPAGES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/reportpages
FS_RESOURCES_HOME=/home/jlsoft/web/nginx/html/8082/fs/scmform/resources

#Web输入流
JSON_STREAM_ENABLED=true
#记录错误异常
LOG_RECORDER_ENABLED=true

# MongoDB 数据库配置信息 (com.jlsoft.forms.MongodbHandler 只为兼容保留)
MONGO_IP=123.206.201.155
MONGO_PORT=27017
MONGO_DB=scm_dev
MONGO_NAME=scm_dev
MONGO_PASS=byT3FPAXJrA47685



# 用户鉴权与 session 管理功能配置
AUTHORIZATION_TEST=true
AUTHORIZATION_ENABLED=true
AUTHORIZATION_DB_HOST=127.0.0.1
AUTHORIZATION_DB_PORT=27017
AUTHORIZATION_DB_RETRY=true
AUTHORIZATION_DB_POOLSIZE=100
AUTHORIZATION_DB_NAME=auth
AUTHORIZATION_DB_USERNAME=auth
AUTHORIZATION_DB_PASSWORD=q3fIs859Ymd3dnFN
AUTHORIZATION_SESSION_PREX=

# MongoDB 数据库连接池配置信息 (com.jlsoft.framework.MongoPool 用于取代 MongodbHandler)
MONGOPOOL_HOST=123.206.201.155
MONGOPOOL_PORT=27017
# MONGOPOOL_HOST=10.2.0.1,10.2.0.2,10.2.0.3
# MONGOPOOL_PORT=27017,27018,27017
MONGOPOOL_RETRY=true
MONGOPOOL_POOLSIZE=100
MONGOPOOL_DBNAME=scm_dev
MONGOPOOL_USERNAME=scm_dev
MONGOPOOL_PASSWORD=byT3FPAXJrA47685

# 主数据缓存（内网）
MDM_ENABLED=false
MDM_DB_HOST=123.206.201.155
MDM_DB_PORT=27017
MDM_DB_RETRY=true
MDM_DB_POOLSIZE=100
MDM_DB_DBNAME=scm_dev
MDM_DB_USERNAME=scm_dev
MDM_DB_PASSWORD=byT3FPAXJrA47685

# 启用 V9 扩展权限配置 (此功能如果启用，会使用 MongoDB 主数据缓存)
EXTENDED_ACCESS_ENABLED=true
# 扩展访问权限包括的类型有V5、V7、V9，如果配置其他值则视同V9
EXTENDED_ACCESS_TYPE=V9

# MyBatis数据源项目个性化配置文件路径(一般用于自定义查询)
MYBATIS_CONFIG_DIR=form/scm

# 设置是否压缩分页查询返回的第一页数据（只针对 XML 封装的结果数据）
# 值为零不压缩；配置一个大于零的整数（字节数）表示超过此数据量则压缩
GZIP_MIN_SIZE=0


##################### 新增加 #####################
# PCRM流程控制开关，拦截器JlInterceptor.java增加checkWorkflow处理
PCRM_USEWORKFLOW=true
# PCRM服务URL
PCRM_URL=http://127.0.0.1:30800/form5
# 医药行业 GSP 管控标记
GSPCONTROL=false
# ONS消息订阅开关
ONS_DY=false
# 服务器端 XSD Schema 数据校验
VALIDATOR_ENABLED=false
# 错误日志记录
ERROR_RECORDER_ENABLED=false